body {
  box-sizing: border-box;
  /* background-color: rgb(143, 79, 79); */
}

.wrapper-table {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 10px;
}

td textarea {
  border: none;
  resize: none;
  outline: none;
  overflow: auto;
  background-color: rgb(228, 207, 207);
}

.edit {
  position: relative;
}

.edit_btns {
  position: absolute;
  display: none;
}

.control-btn {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
}